.BeerListItem {
  background: #fff;
  list-style: none;
  margin: 4px 0;
}

.BeerListItem .button-wrapper,
.BeerListItem .beer-info-wrapper {
  border: 1px solid rgba(0, 0, 0, .12);
  display: flex;
}
.BeerListItem .beer-info-wrapper {
  padding: 12px;
  border-bottom: none;
}

.BeerListItem p {
  margin: 0;
  color: rgba(0, 0, 0, .84);
}
.BeerListItem .title {
  font-size: 24px;
}
.BeerListItem .secondary {
  color: rgba(0, 0, 0, .54);
}
.BeerListItem .meta {
  display: flex;
  justify-content: space-between;
}
.BeerListItem .beer-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.BeerListItem .figure {
  margin: 0;
  padding: 0;
  width: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.BeerListItem .button-wrapper {
  justify-content: space-around;
}

.beer-list-button.active {
  background-color: #FDD835;
}

.beer-list-button {
  height: 46px;
  border: none;
  flex-grow: 1;
  background: transparent;
  padding: 8px;
  border-right: 1px solid rgba(0, 0, 0, .12);
}
.beer-list-button:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0);
}
